.editBtn,.removeBtn{
    font-size: 1rem;
    padding: 10px 16px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #1D1D1D;
    color: #fff;
    transition: background-color .4s, box-shadow .4s;
}

.removeBtn:hover{
    background-color: #BC4B51;
    box-shadow: 5px 10px black;
}

.editBtn{
    margin-right: 1rem;
}

.editBtn:hover{
    background-color: #8CB369;
    box-shadow: 5px 10px black;
}

.editHeaderPrepTime,.editHeaderTitle{
    font-size: 20px;
    background-color: #08A4BD;
    color: #fff;
    margin-right: 1rem;
    width: 30%;
    border: none;
    outline: none;
    padding: 6px 12px;
    border-radius: 20px;
}

.editHeaderPrepTime::-webkit-input-placeholder,.editHeaderTitle::-webkit-input-placeholder{
    color: #000;
    font-weight: 700;
}

#directions{
    font-size: 20px;
    color: #fff;
    background-color: #1D1D1D;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 1rem;
}